<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="mario" class="com.benalbritton.mario.Mario">
            <constructor-arg name="structureFactory" ref="structureFactory" />
    </bean>

    <bean id="structureFactory" class="com.benalbritton.mario.StructureFactory" />

    <bean id="printContext" class="com.benalbritton.mario.PrintContext" />

    <bean id="pyramid" class="com.benalbritton.mario.Pyramid" scope="prototype">
        <constructor-arg value="0" />
    </bean>

</beans>